PRODUCTION=false

# Database Configuration
DATABASE_URL=postgres://user:pass@localhost:5432/noemx21?sslmode=disable&timezone=UTC
AEAD_KEY=

# Rocket.Chat Configuration
ROCKETCHAT_API_URL=
ROCKETCHAT_USER_ID=
ROCKETCHAT_AUTH_TOKEN=

# School21 Configuration
SCHOOL21_API_URL=
SCHOOL21_USER_LOGIN=
SCHOOL21_USER_PASSWORD=

# Telegram Configuration
TELEGRAM_BOT_TOKEN=

# Charts (temporary files directory)
CHART_TEMP_DIR=tmp

# Git Repository For Data
GIT_REPO_URL=git@git.company.com:2222/user/repo.git
GIT_BRANCH=main
GIT_SYNC_INTERVAL=5m
GIT_LOCAL_PATH=data_repo
SSH_KEY_BASE64=
SSH_KNOWN_HOSTS=
